---
import "./_home.css";
import Card from "@components/cardNormal.astro";
import dataServicos from "@lib/_dataServicos.json";
import navData from "@lib/navData";
import { Icon } from 'astro-icon/components'
---

<style>
  .nossos-servicos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
  }

  .nossos-servicos h2 {
    text-align: center;
    opacity: 0.8;
    margin: 5% 0 3% 0;
  }

  .pcSlide,
  .mobileSlide {
    width: 100%;
  }

  .slides{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .card-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    padding: 0;
  }

  .card-servicos h3 a {
    color: #000;
  }

  .card-text-servicos {
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
  }

  .activarS {
    padding: 0;
    margin-bottom: 5rem;
  }

  #cVerT {
    opacity: 0.5;
    margin: 0;
    padding: 1vh 0 5vh 0;
  }

  @media only screen and (min-width: 0) and (max-width: 600px) {
    .nossos-servicos h2 {
      margin: 0 0 4vh 0;
    }

    .pcSlide {
      display: none;
    }
  }

  @media only screen and (min-width: 601px) {
    .pcSlide {
      display: none;
    }

    .nossos-servicos h2 {
      margin: 0 0 4vh 0;
    }
  }

  @media only screen and (min-width: 768px) {
    .nossos-servicos h2 {
      margin: 0 0 6vh 0;
    }

    .mobileSlide {
      display: none;
    }

    .pcSlide {
      display: block;
    }
  }
  
</style>

<h1 class="text-center mt-48 mb-36">NOSSO SERVIÇOS</h1>

<section class="nossos-servicos">
  <div class="pcSlide">
    <ol class="carousel_viewport">
        {Object.entries(dataServicos.paginas).map(function ([key, item], index) {
            if ("title" in item) {
              const serviceInfo = navData.Servicos.find(function (service) {
                return service.name === item.title;
              });
        
              if (serviceInfo) {
                if (index % 3 === 0) {
                  return (
                  <li class="slides slide1">
                      {[...Array(3)].map((_, i) => {
                        const currentIndex = index + i;
                        if (currentIndex < Object.entries(dataServicos.paginas).length) {
                          const [currentKey, currentItem] = Object.entries(dataServicos.paginas)[currentIndex];
                          return (
                            <Card
                              key={currentKey}
                              title={currentItem.title}
                              src={currentItem.hero.img}
                              alt={currentItem.title}
                              href={serviceInfo.path}
                            />
                          );
                        } else {
                          return null;
                        }
                      })}
                  </li>
                  );
                } else {
                  return null;
                }}}
            return null;
          })}
      </>
    </ol>

    <aside>
      <button
        aria-label="Seguinte slide"
        class="carousel-control-prev prev1"
        type="button"
      >
        <Icon name="arrow-left" size={32} class="opacity-80" />
      </button>
      <button
        aria-label="Anterior slide"
        class="carousel-control-next next1"
        type="button"
      >
        <Icon name="arrow-right" size={32} class="opacity-80" />
      </button>
    </aside>
  </div>
</section>

<script src="./slider.ts"></script>
<script>
  document.addEventListener("astro:page-load", () => {
    const openToggle = document.querySelector<HTMLElement>(".openToogle");

    if (openToggle) {
      openToggle.addEventListener("click", () => {
        openToggle.classList.toggle("open");
        const activarS = document.querySelector<HTMLElement>(".activarS");

        if (activarS) {
          activarS.classList.toggle("activeToogle");
        }
      });
    }
  });
</script>
