---
import "./_home.css";
import Card from "@components/CardServicos.astro";
import dataServicos from "@lib/_dataServicos.json";
import navData from "@lib/navData";
---

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(292px, 100%), 1fr));
    gap: 6vh;
  }

  @media only screen and (min-width: 1500px) {
    section {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(min(292px, 100%), 0.29fr));
    }
  }

  .activarS {
    padding: 0;
    margin-bottom: 5rem;
  }

  #cVerT {
    opacity: 0.5;
    margin: 0;
    padding: 1vh 0 5vh 0;
  }
</style>

<h1 class="text-center mt-48 mb-36">NOSSO SERVIÇOS</h1>

<section class="m-[6vw] max-[705px]:m-[10vw] max-[400px]:mx-0">
  {
    Object.entries(dataServicos.paginas).map(function ([key, item]) {
      if ("title" in item) {
        const serviceInfo = navData.Servicos.find(function (service) {
          return service.name === item.title;
        });

        if (serviceInfo) {
          return (
            <Card
              key={key}
              title={item.title}
              body={item.description}
              src={item.hero.img}
              alt={item.title}
              href={serviceInfo.path}
            />
          );
        }
      }
      return null;
    })
  }
</section>

<script src="./slider.ts"></script>
<script>
  document.addEventListener("astro:page-load", () => {
    const openToggle = document.querySelector<HTMLElement>(".openToogle");

    if (openToggle) {
      openToggle.addEventListener("click", () => {
        openToggle.classList.toggle("open");
        const activarS = document.querySelector<HTMLElement>(".activarS");

        if (activarS) {
          activarS.classList.toggle("activeToogle");
        }
      });
    }
  });
</script>
